@font-face {
    font-family: 'Freestyle Script';
    font-style: normal;
    font-weight: 400;
    src: local('Freestyle Script'), url('https://fonts.cdnfonts.com/s/19923/FREESCPT.woff') format('woff');
}


